body{
    padding:0;
    margin:0;
}

.top-nav, .bottom-nav{
    padding:10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
a{
    text-decoration: none;
    padding:5px;
    color:#555;
}
.top-nav{
    background-color:#000;
}